<div class="row my-3">
    <div *ngFor="let oszlop of oszlopok" class="col">{{oszlop}}</div>
    <div  class="col">Műveletek</div>
</div>

<div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
        <input *ngIf="oszlop!='key';else isPlain " type="text" class="form-control" [(ngModel)]="ujAllat[oszlop]">
        <ng-template #isPlain>Kulcs</ng-template>
    </div>
    <div  class="col">
        <button (click)="newAnimal(ujAllat)" type="button" class="btn btn-primary">Hozzáad</button> 
    </div>
</div>